# Entities

{% for entity in entities %}* [{{ entity.name }}](#{{ entity.name.toLowerCase() }})
{% endfor %}

{% for entity in entities %}
## {{ entity.name }}
{{ entity.description }}


##### Attributes

| Name | Type | Attributes | Description |
|------|:----:|:----------:|------------:|
{% for attr in entity.attributes %}| {% if attr.attributeNames.includes('PK') %}**{{ attr.name }}**{% else %}{{ attr.name }}{% endif %} | `{{ attr.type }}({{ attr.length }})` | `{% if attr.attributeNames.length === 0 %}-{% endif %}{{ attr.attributeNames | join(', ') }}` | {{ attr.description }} |
{% endfor %}

{% if entity.associations %}
##### Linked entities

| Entity | Alias |  FK  | Type |
|--------|:-----:|:----:|-----:|
{% for assoc in entity.associations %}| [{{ assoc.name }}](#{{ assoc.name.toLowerCase() }}) | {{ assoc.alias }} | {{ assoc.foreignKey }} | `{{ entity.name }}` -> `{{ assoc.type }}` |
{% endfor %}

{% endif %}

{% endfor %}
